label {
  margin-bottom: .1rem;
  font-weight: 500;
}

.error {
  border: 2px solid #FF6565;
}

.error-message {
  position: relative;
  bottom: .7rem;
  color: #FF6565;
}

.avatar-dropdown {
  width: 35px;
  height: 35px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid white;
}